body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.tic-tac-toe {
    margin: 20px auto;
    width: 300px;
}

.board {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    cursor:pointer;
}

.status {
    margin-top: 10px;
    font-size: 18px;
}

.reset-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
footer{
    background: black;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom:0;
    
}
.pull-left{
    color: white;
    font-size: 15px;
}
.pull-right{
    color: whitesmoke;
    font-size: 13px;
}
.pull-right a{
    color:pink;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
}
